<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tweets Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body class="bg-light">
    <main class="container bg-info" id="container">
        <h1 class="display-3 text-center text-white pt-3">Twitter Search <img src="../../assets/twitter.png" alt="twitter logo"></h1>
        <form action="" class="ml-auto mr-auto pb-5" id="form">
            <div class="form-group row">
                <div class="col-lg-8 col-md-12">
                    <label class="text-white" for="searchCriteria">Search Criteria</label>
                    <input class="form-control" id="searchCriteria" placeholder="Search word">
                    <small class="form-text text-light">Type in one word to search</small>
                </div>
                <div class="col-lg-4 col-md-12 mt-auto">
                    <input class="form-control" id="tweets" placeholder="# of Tweets">
                    <small class="form-text text-light">Choose up to 50</small>
                </div>
            </div>
        </form>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
</body>
</html>

<!--
var name = data.statuses[i].user.name;
var screenName = data.statuses[i].user.screen_name;
-->